Repository Roave/BackwardCompatibilityCheck, pull requests merged in 2021-12, with the labels that each got.

#352 Run BC checks as part of the main `"Continuous Integration"` workflow
  .github/workflows/backwards-compatibility.yml
  .github/workflows/continuous-integration.yml
  README.md
Labels: enhancement, github_actions

#266 Detect BC breaks due to parameter name changes, in line with PHP 8.0 named arguments requirements
  bin/roave-backward-compatibility-check.php
  src/DetectChanges/BCBreak/FunctionBased/ParameterNameChanged.php
  test/unit/DetectChanges/BCBreak/FunctionBased/ParameterNameChangedTest.php
Labels: enhancement, bc break

#361 Remove accidental dependency on thecodingmachine/safe
  .github/workflows/continuous-integration.yml
  .gitignore
  composer.json
  composer.lock
  src/DetectChanges/BCBreak/ClassConstantBased/ClassConstantValueChanged.php
  src/DetectChanges/BCBreak/FunctionBased/ParameterNameChanged.php
Labels: bug

#368 Upgraded to stable `roave/better-reflection:^5.0.0`, now that it is released
  composer.json
  composer.lock
  phpunit.xml.dist
  src/LocateDependencies/LocateDependenciesViaComposer.php
  test/unit/LocateDependencies/LocateDependenciesViaComposerTest.php
Labels: dependencies, php

#371 #342 implemented GitHub Actions output format
  .github/workflows/continuous-integration.yml
  README.md
  src/Change.php
  src/Command/AssertBackwardsCompatible.php
  src/DetectChanges/BCBreak/ClassBased/MultipleChecksOnAClass.php
  src/DetectChanges/BCBreak/ClassConstantBased/MultipleChecksOnAClassConstant.php
  src/DetectChanges/BCBreak/FunctionBased/MultipleChecksOnAFunction.php
  src/DetectChanges/BCBreak/InterfaceBased/MultipleChecksOnAnInterface.php
  src/DetectChanges/BCBreak/MethodBased/MultipleChecksOnAMethod.php
  src/DetectChanges/BCBreak/PropertyBased/MultipleChecksOnAProperty.php
  src/DetectChanges/BCBreak/TraitBased/MultipleChecksOnATrait.php
  src/Formatter/GithubActionsFormatter.php
  src/Formatter/SymbolStartColumn.php
  test/unit/ChangeTest.php
  test/unit/Command/AssertBackwardsCompatibleTest.php
  test/unit/DetectChanges/BCBreak/ClassBased/MultipleChecksOnAClassTest.php
  test/unit/DetectChanges/BCBreak/ClassConstantBased/MultipleChecksOnAClassConstantTest.php
  test/unit/DetectChanges/BCBreak/FunctionBased/MultipleChecksOnAFunctionTest.php
  test/unit/DetectChanges/BCBreak/InterfaceBased/MultipleChecksOnAnInterfaceTest.php
  test/unit/DetectChanges/BCBreak/MethodBased/MultipleChecksOnAMethodTest.php
  test/unit/DetectChanges/BCBreak/PropertyBased/MultipleChecksOnAPropertyTest.php
  test/unit/DetectChanges/BCBreak/TraitBased/MultipleChecksOnATraitTest.php
  test/unit/Formatter/FunctionNameTest.php
  test/unit/Formatter/GithubActionsFormatterTest.php
  test/unit/Formatter/SymbolStartColumnTest.php
Labels: enhancement
